<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Master Suite">

    <groups>
        <run>
            <include name="Master"/>
            <!--<include name="Sanity"/>-->
            <!--<include name="Regression"/> -->
            <!-- <exclude name="" /> -->
        </run>
    </groups>

    <listeners>
        <listener class-name="utilities.ExtentReportManager" />
    </listeners>


    <test thread-count="5" name="Test">
        <parameter name="os" value="Windows"/>
        <parameter name="browser" value="chrome"/>

        <classes>
            <class name="testCases.TC_1CreateAccount"/>
            <class name="testCases.TC_2Login"/>
            <class name="testCases.TC_3Logout"/>
            <class name="testCases.TC_4SearchProduct"/>
            <class name="testCases.TC5_AddToCart"/>
            <class name="testCases.TC_6EndToEnd"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
